<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <script src="./scripts/script.js" defer></script>
    <title>Fresk.digital</title>
</head>
<header>
    <div class="header-img">
        <img src="/img/fresk-digital.png" alt="Fresk Digital Logo" width="130">
      </div>
</header>

<body>


