<div class="loader-container">
  <article class="loader">      
    <img src="/assets/star-white-glow.png" alt="star" width="40" height="40" id="twinkle1">
    <img src="/assets/star-yellow-glow.png" alt="star" width="40" height="40" id="twinkle2">
    <img src="/assets/steam.png" alt="steam" width="250" height="200" class="cauldron" id="steam">
    <img src="/assets/cauldron.png" alt="cauldron" width="400" height="400" class="cauldron">
    <img src="/assets/star-white-glow.png" alt="star" width="40" height="40" id="twinkle3">
    <img src="/assets/star-yellow-glow.png" alt="star" width="40" height="40" id="twinkle4">
    <h2>Something magical is brewing...</h2>
  </article>
</div>