<%- include('./partials/head') %>
<head>
    <title>Hotjar Analytics | Fresk Digital</title>
</head>



<section id="hotjar-section">

  <a class="return-button" href="/dashboard">
    Terug naar dashboard
  </a>    
  <h1>Hotjar Analytics</h1>
    
</section>

<%- include('./partials/footer') %>