  <%- include('./partials/head') %>
  <title>Merlin's Book of Potions</title>
</head>

<body>
  <main class="intro">
    <h1>Merlin's Book of Potions</h1>
    <a href="/brew" class="button">Get started</a>
  </main>
</body>
</html>
