<%- include('./partials/head') %>

<main>
  <section class="login-section">
    <form class="login" action="/dashboard" method="get">
      <h2>Log hier in</h2>
    
      <label for="username">Naam:</label>
      <input type="email" id="username" name="username">
     
      <label for="password">Wachtwoord:</label>
      <input type="password" id="password" name="password">
      
      <input type="submit" value="Log in">
    </form>
  </section>
</main>

<%- include('./partials/footer') %>
