  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/styles/index.css">
  <title>Merlin's Book of Potions</title>
</head>

<body>
  <main>
    <article class="intro">
      <h1>Merlin's Book of Potions</h1>
      <p>Discover different kinds of potions</p>
      <img src="/assets/opening.png" alt="ingredients" width="369" height="223">
  
      <a href="/brew" class="button">Get started</a>
    </article>
  </main>
</body>
</html>
