<%- include('./partials/head') %>

<head>
    <title>Linkedin Analytics | Fresk Digital</title>
</head>


<section id="linkedin-section">

    <a class="return-button" href="/dashboard">
        Terug naar dashboard
      </a>   

  <h1 class="empty-title">Oeps! Er is hier nog geen data te vinden...</h1>

  <p class="redirect-text">Er is wel data te vinden bij de <a href="/google" class="redirect-link">Google Analytics</a></p>
  
</section>


<%- include('./partials/footer') %>