  <%- include('./partials/head') %>
  <title>Nasty potion | Book of Potions</title>
</head> 

<body>
  <main>
    <img src="/assets/nasty-potion.png" alt="nasty potion" width="400" height="400">
    <h1>You brewed a nasty potion.</h1>
    <a href="/brew" class="link">Brew more</a>
  </main>
</body>
</html>