:root {
    /* Typografie */
    --body-fonts: "Nunito", sans-serif;
    --font-large:  bold;
    --font-small: lighter;
    --line-height: 1.5;
    
    /* kleuren */
    --green-smith: #B9FFB7;
    --orange-crayola: #FF7535;
    --majorelle-blue: #5E43FF;
    --Xiketic: #120B11;
    --Raisin-black: #302A2F;
    --Sonic-silver: #736f72;
    --Snow: #FCF8F7;
}

/* Algemene stijling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-fonts);
    background-color: var(--Snow);
}

nav {
    height: 80%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    overflow-x: hidden;
    background-color: var(--Raisin-black);
    padding-top: 20px;
}

nav li a {
    padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: var(--Snow);
  display: block;
}

main {
    display: flex;
    justify-content: center;
}

header {
    width: 100%;
    padding: 1.5em;
    background-color: var(--orange-crayola);
}

footer {
    width: 100%;
    padding: 1.5em;
    background-color: var(--Raisin-black);
    position: fixed;
    bottom: 0;
}

/* Login stijling */
.login {
    border: 3px solid var(--Sonic-silver);
    padding: 5em;
    display: flex;
    justify-content: center;
    flex-flow: column;
    
}

h2 {
    background-image: -webkit-linear-gradient(270deg, var(--orange-crayola), var(--majorelle-blue));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
}

h3 {
    background-image: -webkit-linear-gradient(270deg, var(--orange-crayola), var(--majorelle-blue));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 42px;
    font-style: var(--font-large);
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 0.4em;
    margin-bottom: 30px;
}

input[type="submit"] {
    width: 100%;
    padding: 0.5em;
    text-transform: uppercase;
    background-color: var(--Xiketic);
    color: var(--Snow);
    font-family: var(--body-fonts);
    border: 2px solid var(--Sonic-silver);
    border-radius: 5px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--Snow);
    color: var(--Xiketic);
}

/* Dashboard stijling */
.dashboard {
	display: grid;
	grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px 1fr 50px;
    gap: 10px;
    height: 100vh;
}

.dashboard-header {
    grid-column: 1 / -1;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.dashboard-content {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dashboard-card {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px;
	padding: 20px;
	width: 250px;
}

.dashboard-card:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}