body{
  margin: 1rem;
}

.container {
  height: 78vh;

  & img {
    position: absolute;
    z-index: -1;
    width: 60%;
    object-fit: contain;
    bottom: 13vh;
    right: 10px;
  }

  & button {
    position: absolute;
    bottom: 20vh;
    left: 10px;
  }

  & .result{
    display: none;

  }
}

/* #region Form */
form {
  display: flex;
  flex-direction: row;
  width: 99vw;
  overflow-x: auto;
}

fieldset {
  border: none;
  border-radius: var(--border-radius);
  backdrop-filter: blur(50px);
  padding: 10px;
  margin: 10px;
  width: fit-content;

  & input {
    position: absolute;
    top: -9999em;
  }

  & input:checked ~ label img:nth-child(1){
    filter: blur(3px) grayscale(80%);
  }

  & label img {
    width: 10vw;
    object-fit: contain;
    height: auto;
  }
}

.ingredient-duplicate {
  position: absolute;
  width: 100px;
  z-index: 100;
  object-fit: contain;
  height: auto;
  offset-path: path(var(--path)); 
  offset-rotate: 0deg;
  animation: moveIngredient linear forwards;
  animation-duration: calc( .4s + var(--distance) / 100 * .075s );
}

/* #region Ingredient card */
.ingredient-card{
  background-color: var(--card-color);
  color: var(--text-color);
  width: 80vw;
  max-width: 400px;
  padding: 40px;
  border-radius: var(--border-radius);
  position: absolute;
  top: 8vh;
  left: 6vw;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .2s;

  & h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  & p {
    margin-bottom: 2rem;
  }

  & img{
    margin: 2rem;
  }
}

:focus:not(:focus-visible) ~ .ingredient-card {
  visibility: hidden;
  opacity: 0;
}

fieldset:has(:focus-visible) ~ .ingredient-card {
  visibility: visible;
  opacity: 1;
}
/* #endregion Ingredient card */
/* #endregion Form */

/* #region Keyframes */
@keyframes moveIngredient {
  70%{
    opacity: 1;
  }

  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}
/* #endregion Keyframes */

/* #region Media */
@media only screen and (min-width: 500px){
  .container{
    & img {
      bottom: 16vh;
    }
  }
}

@media only screen and (min-width: 800px){
  .container{
    & img {
      bottom: 20vh;
    }

    & button {
      right: 30px;
      left:auto;
    }
  }

  fieldset {
    & label img {
      height: revert-layer;
    }

    & .mobile-label {
      display: none;
    }
  }

  .ingredient-card {
    top: 70px;
    left: 30px;
    height: 70vh;
  }

  fieldset:hover ~ .ingredient-card {
    visibility: visible;
    opacity: 1;
  }
}

@media (scripting: enabled) {
  .container{
    & .result {
      display: block;
      position: relative;
      width: 40vw;
      max-width: 250px;
      max-height: 60vh;
      top: 5vh;
      left: 0;
      z-index: 1;
      border-radius: var(--border-radius);
      background-color: #FADD9A;
      padding: 10px;

      & summary {
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
      }

      & li {
        list-style: '';
      }
    }
  }

  @media only screen and (min-width: 500px){
    .container {
      & .result {
        top: 5vh;
        left: 30vw;
      }
    }
  }
}

/* #endregion Media */