body{
  margin: 1rem;
}

.container {
  height: 78vh;

  & img {
    position: absolute;
    width: 60%;
    object-fit: contain;
    bottom: 13vh;
    right: 10px;
  }

  & button {
    position: absolute;
    bottom: 20vh;
    left: 10px;
  }

  & .result{
    display: none;
  }
}
/* #region Form */
form {
  display: flex;
  flex-direction: row;
  width: 99vw;
  overflow-x: auto;
}

fieldset {
  border: none;
  border-radius: 10%;
  backdrop-filter: blur(50px);
  padding: 10px;
  margin: 10px;
  width: fit-content;

  & input {
    position: absolute;
    top: -9999em;
  }

  & input:checked ~ label {
    filter: blur(3px) grayscale(80%);
  }

  & label img {
    width: 10vw;
    object-fit: contain;
    height: auto;
  }
}

/* #region Ingredient card */
.ingredient-card{
  background-color: var(--accent-color1);
  color: var(--text-color);
  width: 80vw;
  max-width: 400px;
  display: none;
  padding: 20px;
  border-radius: 25px;
  position: absolute;
  top: 8vh;
  left: 6vw;
}

:focus:not(:focus-visible) ~ .ingredient-card {
  display: none;
}

fieldset:has(:focus) ~ .ingredient-card {
  display: block;
}
/* #endregion Ingredient card */
/* #endregion Form */

@media only screen and (min-width: 500px){
  .container{
    & img {
      bottom: 16vh;
    }
  }
}

@media only screen and (min-width: 800px){
  .container{
    & img {
      bottom: 20vh;
    }

    & button {
      right: 30px;
      left:auto;
    }
  }

  fieldset {
    & label img {
      height: revert-layer;
    }

    & .mobile-label {
      display: none;
    }
  }

  .ingredient-card {
    top: 70px;
    left: 30px;
    height: 70vh;
  }

  fieldset:hover ~ .ingredient-card {
    display: block;
  }
}

@media (scripting: enabled) {
  .container{
    & .result {
      display: block;
      position: relative;
      width: fit-content;
      top: 10vh;
      left: 60vw;

      & li {
        list-style: none;
      }
    }
  }
}