body::before{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  display: block;
  background-image: url('/assets/background.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

main {
  height: 97vh;
  margin: 1rem;
}

.intro {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform: translate(0%, 40%);
  color: var(--text-color);

  & h1 {
    text-align: center;
    font-size: 3rem;
  }

  & p {
    font-size: 1.5rem;
  }

  & img {
    width: 90%;
    object-fit: contain;
  }
}

@media only screen and (min-width: 800px){
  main{
    height: 90vh;
  }
  
  .intro {
    position: relative;
    width: 97vw;
    transform: translate(0%, 70%);
  }
}
