*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 1rem;
  background: linear-gradient(#8806D8, #99530F);
  background-image: url(/assets/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: MedievalSharp, sans-serif;
}

.button {
  text-decoration: none;
  color: white;
  background-color: #8806D8;
  padding: 10px;
  margin: 1rem;
}

main {
  margin: 1rem;
}