*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #ffffff;
  --accent-color1: #8806d8;
  --accent-color2: #ff8000;
  --accent-color3: #d6228e;
  --focus-color: #2200ff;
}

body {
  background-image: url(/assets/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: MedievalSharp, sans-serif;
}

main {
  margin: 0 auto;
  width: fit-content;
}

label {
  cursor: pointer;
}

:focus {
  outline: solid .2em var(--focus-color);
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

fieldset:has(:focus-visible){
  outline: solid .2em var(--focus-color);
}

.link {
  text-decoration: none;
  color: var(--text-color);
}

.link:hover, .link:focus {
  text-decoration: underline;
  color: var(--accent-color2);
}

.button {
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--accent-color1);
  padding: 10px;
  margin: 1rem;
  background-image: linear-gradient(var(--accent-color2), var(--accent-color3));
  background-position: left;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: .2s;

  &:active {
    transform: translateY(3px)
  } 
}

.button:is(:hover, :focus-visible) {
  background-size: 100% 100%;
}