body {
  width: 100%;
  height: 100%;
}

body::before{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  display: block;
  background-image: url('/assets/background.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

/* #region Loading */
.loader-container {
  color: var(--text-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  animation: loading 1.2s forwards;
}

.loader-container::before{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  display: block;
  background-image: url('/assets/background.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.loader {
  position: relative;
  width: 80vw;
  height: 95vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    font-size: 2rem;
  }

  & .cauldron{
    width: 90%;
    object-fit: contain;
  }

  & #steam{
    position: relative;
    top: 14vh;
  }

  & #twinkle1 {
    position: absolute;
    top: 42vh;
    left: -3vw;
  }

  & #twinkle2 {
    position: absolute;
    top: 27vh;
    left: 8vw;
  }

  & #twinkle3 {
    position: absolute;
    top: 20vh;
    left: 51vw;
  }

  & #twinkle4 {
    position: absolute;
    top: 33vh;
    left: 61vw;
  }
}
/* #endregion Loading */

/* #region Potions */
.potion {
  position: relative;
  transform: translate(0%, 10%);
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    color: var(--text-color);
    font-size: 2rem;
  }
}

.nasty {
  background-image: url('/assets/green-cloud.png');
  background-size: 50vw;
  background-repeat: no-repeat;
}

.nice {
  & #star1 {
    position: absolute;
    top: 40vh;
    left: 2vw;
  }

  & #star2 {
    position: absolute;
    top: 20vh;
    left: -3vw;
  }

  & #star3 {
    position: absolute;
    top: 3vh;
    left: 17vw;
  }

  & #star4 {
    position: absolute;
    top: 7vh;
    left: 61vw;
  }

  & #star5 {
    position: absolute;
    top: 23vh;
    left: 70vw;
  }

  & #star6 {
    position: absolute;
    top: 36vh;
    left: 64vw;
  }
}
/* #endregion Potions */

.link {
  position: absolute;
  left: 36vw;
  bottom: 10vh;
}

/* #region Keyframes */
@keyframes loading {
  0%{
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}
/* #endregion Keyframes */

/* #region Mediaqueries */
@media only screen and (min-width: 500px){
  .loader{
    & #steam {
      top: 10vh;
    }

    & #twinkle1 {
      top: 31vh;
      left: 0;
    }
  
    & #twinkle2 {
      top: 17vh;
      left: 14vw;
    }
  
    & #twinkle3 {
      top: 12vh;
      left: 48vw;
    }
  
    & #twinkle4 {
      top: 24vh;
      left: 56vw;
    }
  }
}

@media only screen and (min-width: 800px){
  main{
    height: 90vh;
  }
 
  .loader{
    height: fit-content;
    transform: translate(0%, 20%);

    & #steam {
      top: 0;
    }

    & #twinkle1 {
      top: 26vh;
      left: 13vw;
    }
  
    & #twinkle2 {
      top: 7vh;
      left: 22vw;
    }
  
    & #twinkle3 {
      top: 0vh;
      left: 50vw;
    }
  
    & #twinkle4 {
      top: 19vh;
      left: 53vw;
    }
  }

  .potion {
    width: 50vw;
    transform: translate(0%, 30%);
  }

  .nice {
    & #star1 {
      left: 6vw;
    }
  
    & #star2 {
      left: 2vw;
    }
  
    & #star3 {
      left: 12vw;
    }
  
    & #star4 {
      left: 34vw;
    }
  
    & #star5 {
      left: 42vw;
    }
  
    & #star6 {
      left: 39vw;
    }
  }

  .link {
    bottom: 10vh;
    right: 10vw;
    left: auto;
  }
}
/* #endregion Mediaqueries */